html,
body {
  font-family: "Inter" serif;
  background: #0b131f;
}


.header {
  background: #121a26;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 24px 0;
  gap: 40px;
}

.header .divider {
  width: 4px;
  height: 32px;

  background: linear-gradient(1.39deg, #e8df38 -66.39%, #41d882 125.92%);
}

.header span {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  text-align: center;
  color: #fff;
}

.battery {
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  width: 156px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 0 20px 30px;
  border-radius: 6px;
}
.battery img{
  user-select: none;
}
.battery .elipse{
  background: rgba(58, 235, 105, 1);
position: absolute;
  width: 67.17px;
height: 67.17px;
border-radius: 100%;
top: 97.5px;
left: 2.61px;
gap: 0px;
filter: blur(86px);
bottom: 10px;
left: 32px;

z-index: 1;
}

.infos {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container-info {
  border-radius: 6px;
  padding: 1px;
  height: 32px;
  background: linear-gradient(1.39deg, #e8df38 -66.39%, #41d882 125.92%);
}
.info {
  border-radius: 6px;
  background: rgba(44, 52, 45, 1);
  padding: 7px;
  gap: 4px;
  display: flex;

  font-family: Inter;
font-size: 12px;
font-weight: 600;
line-height: 15.6px;
text-align: center;
color: #fff;
}
